#container{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-items: stretch;  
    align-items: stretch;
    flex-grow: 1;
}

.row{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-items: stretch;
    justify-content: stretch;   
    align-items: stretch;
    flex-grow: 1;
}

.box{
    display: flex;
    flex: auto;
    flex-grow: 1;
    border: black solid;
    border-width: 1px;
}

.click{
    background-color: black;
}

.hover{
    background-color: lightgrey;
}


*{
    margin: 0px;
    padding: 0px;
}